<div class="search">
  <div class="search-title">メンバー検索</div>
  <div class="search-form container">
    <%= search_form_for(@search, url: '/search/members_index') do |f| %>

    <div class="search-form-row row">
      <%= f.label :パート , class: "col-lg-4"%>
      <div class="col-lg-8">
        <%= f.check_box :parts_cont_any, {multiple: true}, "0", nil %>ボーカル
        <%= f.check_box :parts_cont_any, {multiple: true}, "1", nil %>ギター
        <%= f.check_box :parts_cont_any, {multiple: true}, "2", nil %>ベース
        <%= f.check_box :parts_cont_any, {multiple: true}, "3", nil %>ドラム<br>
        <%= f.check_box :parts_cont_any, {multiple: true}, "4", nil %>キーボード
        <%= f.check_box :parts_cont_any, {multiple: true}, "5", nil %>作詞
        <%= f.check_box :parts_cont_any, {multiple: true}, "6", nil %>作曲
        <%= f.check_box :parts_cont_any, {multiple: true}, "7", nil %>その他
      </div>

    </div>

    <div class="search-form-row row">
      <%= f.label :性別 , class: "col-lg-4"%>
      <div class="col-lg-8">
        <%= f.radio_button :gender_cont, 'm' %>
        <%= f.label :gender, "男性", {value: :male, style: "display: inline-block;"} %>
        <%= f.radio_button :gender_cont, 'f' %>
        <%= f.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
        <%= f.radio_button :gender_cont, '' %>
        <%= f.label :gender, "指定なし", {value: :female, style: "display: inline-block;"} %>
      </div>

    </div>

    <div class="search-form-row row">
      <%= f.label :年齢　, class: "col-lg-4"%>
      <div class="age-form col-lg-8"> <%= f.number_field :age_gteq %>才 ~ <%= f.number_field :age_lteq %>才 </div>

    </div>

    <div class="search-form-row row">
      <%= f.label :活動地域 , class: "col-lg-4"%>
      <div class="col-lg-8">
        <%= f.select :pref_eq, Member.prefs.keys, {prompt: '都道府県を選択'} %>
      </div>

    </div>

    <div class="search-form-row row">
      <%= f.label :ステータス , class: "col-lg-4"%>
      <div class="col-lg-8">
        <div style="display: inline-block; margin:auto; text-align:left;">
          <%= f.check_box :status_cont_any, {multiple: true}, "0", nil %>オリジナルバンドをしたい<br>
          <%= f.check_box :status_cont_any, {multiple: true}, "1", nil %>コピーバンドをしたい<br>
          <%= f.check_box :status_cont_any, {multiple: true}, "a", nil %>バンド活動中
        </div>
      </div>

    </div>

    <div class="search-form-row row">
      <%= f.label :音源の有無 , class: "col-lg-4"%>
      <div class="col-lg-8">
        <%= f.radio_button :portfolio_present, true %>
        <%= f.label :portfolio, "音源有のみ", {style: "display: inline-block;"} %>
        <%= f.radio_button :portfolio_present, '' %>
        <%= f.label :portfolio, "指定なし", {style: "display: inline-block;"} %>
      </div>

    </div>

    <%= f.submit "検索" , class: "search-button"%>

    <% end %>

  </div>
</div>

<%= backward %>