<div class="member-login">
  <div class="member-login_title">パスワードの変更</div>
  <% if @error_message %>
  <p class="error_message"><%= @error_message %></p>
  <% end %>
  <%= form_with(model: @member,url: "/modify_password",method: :post, local: true) do |f| %>
  <div>
    <div style="color:gray; font-size:12px;">現在のパスワード</div>
    <%= f.text_field :password_now , value: nil, class: "member-login-form" ,type: "password"%>
  </div>
  <div>
    <div style="color:gray; font-size:12px;">新しいパスワード</div>
    <%= f.text_field :password_new , value: nil, class: "member-login-form" ,type: "password"%>
  </div>
  <div>
    <div style="color:gray; font-size:12px;">新しいパスワードの再入力</div>
    <%= f.text_field :password_again , value: nil, class: "member-login-form" ,type: "password"%>
  </div>

  <div>
    <%=f.submit "変更する", class: "member-login-button"%>
  </div>

  <% end %>

</div>

<%= backward %>